:root {
    --ion-color-primary: #5d1049;
    --ion-color-primary-contrast: #ffffff;
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-item-background-color: #1e1e1e;
  }

  body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #212121;
  }

  ion-header {
      background-color: #5d1049;
      color: white;
      padding: 10px 20px;
      font-size: 1.2rem;
      text-align: center;
  }

  .budget-form {
      padding: 20px;
  }

  .budget-form ion-item {
      margin-bottom: 20px;
  }

  .budget-form ion-button {
      display: block;
      width: 100%;
  }